
.action-button {
  margin: 7.5px 0;
}

.create-game {
  margin-bottom: 0;
}


@media(min-width: 544px) {
  /*.arrow {
    margin-top: 6px;
    margin-bottom: 12px;
  }*/
  /*.create-game {
    margin-bottom: 0;
  }*/

}

@media(min-width: 768px) {
  html {
    font-size: .7rem;
  }

  .arrow {
    margin-top: 23px;
  }
  .action-button {
    margin: 16px 0;
  }
}

@media(min-width: 992px) {
  html {
    font-size: .85rem;
  }

  .arrow {
    margin-top: 20px;
  }
  .action-button {
    margin: 12px 0;
  }
}

@media(min-width: 1200px) {
  html {
    font-size: 1rem;
  }

  .arrow {
    margin-top: 10px;
  }

  .action-button {
    margin: 7.5px 0;
  }
}

input[type="checkbox"] {
  margin-right: 10px;
}

.custom-card-block {
  padding: .5rem 1rem;
}

.gametext {
  margin: 0 .25rem;
  padding: 0 1.25rem;
}

.gamelink {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 8px;
  border: 5px solid #5cbFA0;
  background-color: #5cb85c;
}

.navbar {
  border-radius: 0;
}

.action-block {
  padding: 0 1.25rem;
}

.arrow {
  margin-top: 6px;
  margin-bottom: 12px;
}

.option-level {
  z-index: 2;
}

.stackcard {
  border: 5px solid blue;
  border-radius: 8px;
  margin-bottom: 3px;
}

.height {
  height: 120px;
}

.card {
  border: none;
  border-radius: 0;
}

.extend {
  height: 120px;
}

.stats {
  width: 100%;
}

.shrink {
  height: 60px;
}
